.tox
.hg*
*.py[cod]
*.mako.py
lib
include
bin
deps
*.egg*
*.swp
html
docs/build
\.coverage
*~
._build.etag
_build.py.bak*
test
nosetests.xml
man
.channel
.DS_Store
.idea/
atlassian-ide-plugin.xml
dist/
