language: python
python: 2.7
sudo: false
env:
    - TOX_ENV=py27
    - TOX_ENV=py34
    - TOX_ENV=py34-raw
    - TOX_ENV=flake8
    - TOX_ENV=docs
install:
    - pip install tox
script:
    - tox -e $TOX_ENV
after_success:
  # Report coverage results to coveralls.io
  - pip install coveralls
  - coveralls

matrix:
  include:
    - python: 3.5
      env:
        - TOX_ENV=py35
    - python: 3.6
      env:
        - TOX_ENV=py36

notifications:
    irc:
        channels:
            - "irc.mozilla.org#services-dev"
        on_success: change
