div.resource {
 padding: 10px;
 margin: 5px;
 background-color: #D0D0D0;
 -moz-border-radius: 15px;
 border-radius: 15px;
 width: 90%
}

div.resource-title {
 margin-bottom: 5px;
 font-size: 120%;
}

div.resource-renderer {
 float: right;
 background-color: #FF9933;
 font-weight: bold;
 -moz-border-radius: 10px;
 border-radius: 10px;
 color: white;
 padding: 6px;
}
